<hello name="{{ name }}"></hello>
<p>
  I'm currently learning Angular here.
  <br>
  {{"This is a line."}}<br>
  25 + 25 = {{25+25}}

  <br>
  <input [(ngModel)] = "a" type ="text">*
  <input [(ngModel)] = "b" type ="text">=
  {{a*b}}
</p>

<div *ngFor="let barang of item; let i = index">
  {{i + 1}}. {{ barang.nama }} - {{barang.harga|currency : Rp}}
</div>

<div *ngFor="let string of itemArr;">
  {{string}}
</div>

<p *ngIf="show">This paragraph will be shown if the value of show is True</p>
<p *ngIf="!show">This paragraph will be shown if the value of show is False</p>

<ng-template
  *ngIf = "show; then showBlock; else notShowBlock">
</ng-template>

<ng-template #showBlock>This paragraph will be shown if the value of show is True</ng-template>

<ng-template #notShowBlock>This paragraph will be shown if the value of show is False</ng-template>